body {
  font-family: Raleway, Arial, sans-serif;
}
.main-body {
  width: calc(100vw - 315px);
  position: absolute;
  right: 0;
  top: 0;
  background-color: #f1f2f7;
}
.main-body p {
  color: #7e8998;
}
a {
  transition-property: color,background-color,border-color;
  transition-duration: .2s;
  transition-timing-function: linear;
}
a, a:focus, a:hover, a:active {
  outline: 0;
  cursor: pointer;
}
a, .styleSecondColor, .list-icon.color li:before, .item-box-desc small, p.dropcap:first-letter, ul.pagination a, ul.pagination a:hover, ul.pagination li.active .fa, ul.star-rated.styleSecondColor li i, .tp-catpion a, .divider.styleColor .fa {
    color: #bba15b;
}

.side-header {
  max-width: 300px;
  padding: 0;
  position: fixed;
  top: 0;
  border-right: solid 1px #eaeaea;
  display: block;

  -webkit-box-shadow: 11px 0px 15px -7px rgba(0,0,0,0.20);
  -moz-box-shadow: 11px 0px 15px -7px rgba(0,0,0,0.20);
  box-shadow: 11px 0px 15px -7px rgba(0,0,0,0.20);
}
.side-header .menu {
  list-style: none;
  font-size: 14px;
}
.side-header .navbar-nav .dropdown-menu {
  position: unset;
  background: #ececec;
  font-size: inherit;
  border-left: solid 8px #bba15b;
  border-radius: 0;
}
.side-header .navbar-nav .dropdown-item {
  padding-left: 70px;
}
.dropdown-toggle::after {
  position: absolute;
  right: 10px;
}
.dropdown-divider {
  border-color: #ccc;
}
.logo-holder {
  padding: 31px 60px;
  margin-right: 0;
}
.logo-holder a {
  display: block;
}
ul.menu {
  padding: 0;
  margin: 0;
  display: block;
}
.menu li {
  padding: 0;
  border-top: solid 1px #ddd;
}
.menu li:last-child {
  border-bottom: solid 1px #ddd;
}
.menu li.strong {
  border-right: solid 4px #bba15b;
  font-size: 15px;
}
.side-header .menu li a.nav-link {
  display: flex;
  padding: 0 60px;
  min-height: 40px;
  justify-content: flex-start;
  align-items: center;
  color: #000;
}
.side-header .menu li a.nav-link:hover,
.side-header .menu li.active a.nav-link,
.side-header .menu li.strong a.nav-link
{
  color: #bba15b;
}
.menu li a span {
  display: flex;
  align-items: center;
  line-height: 40px;
}
.menu li.strong a span {
  line-height: 1.4;
  padding-top: 10px;
  padding-bottom: 10px;
}
.main-body .navbar {
  color: #fff;
  background-color: #bba15b;
  font-size: 14px;
}
.main.container {
  margin-bottom: 40px;
}
.radius3 {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.space-top-20 {
  margin-top: 20px;
}
.fullwidth {
  width: 100% !important;
}
.btn-primary {
  background-color: #eaa824 !important;
}
.btn-facebook {
  background: #3b5997;
  color: #fff !important;
}
.btn-google-plus {
  background: #d64937;
  color: #fff !important;
}
.btn-twitter {
  background: #41b7d8;
  color: #fff !important;
}
.btn-google-plus:hover {
  background: #c43c28;
}
.btn-facebook:hover {
  background: #37548e;
}
.btn-twitter:hover {
  background: #33b0d5;
}
.btn-facebook, .btn-twitter, .btn-google-plus {
  font-size: 14px !important;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-decoration: none !important;
  margin-bottom: 3px;
}
.btn-facebook i.fa, .btn-twitter i.fa, .btn-google-plus i.fa {
font-size: 23px;
  float: left;
  height: 40px;
  line-height: 40px;
  padding: 0;
  margin: 0 10px 0 0;
  width: 40px;
  text-align: center;
  position: relative;
  border-right: rgba(255,255,255,0.2) 1px solid;
}
.main-body .navbar button.custom-hover-bg:hover {
  background-color: #fff;
  color: #eaa824;
}
header#page-title {
  color: #fff;
  padding: 20px 0;
  background: #ddd;
  position: relative;
  margin-bottom: 40px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#page-title {
  background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url(/images/wwssw-header.jpg)!important;
}
#page-title>div>h1, #page-title>div>ul>li {
  color: #f3f3f3;
}
.breadcrumb {
  font-size: 13px;
  margin: -3px 0 0;
  padding: 0;
  position: relative;
  display: inline-block;
  background: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.breadcrumb>li {
    display: inline-block;
}
.breadcrumb>li+li:before {
  padding: 0 5px;
  color: #ccc;
  content: "/\00a0";
}
.white-row {
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
footer {
  padding: 30px;
  text-align: center;
  font-size: 12px;
}
footer.large {
  background: #000;
  padding: 45px 30px;
  color: #ccc;
  text-align: left;
}
footer.large .links {
  margin-top: 50px;
}
footer.large h4 {
  margin-bottom: 28px;
  font-size: 12px;
}
footer ul {
  list-style: none;
}
footer ul li {
  border: none !important;
  display: inline-block;
  font-size: 12px;
}
footer ul li a {
  color: #ccc;
  text-decoration: none !important;
}
footer ul li a:hover {
  color: #fff;
}
footer ul li a:after {
  content: "|";
  color: #ccc;
  padding-right: 25px;
  padding-left: 25px;
  font-size: 12px;
}
footer ul li:last-child a:after {
  content: unset;
}
